<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <label>Username</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="input">
          <input type='text'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <label>Password</label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="input">
          <input type='password'>
        </ion-col>
      </ion-row>
      <ion-row class="submit">
        <ion-col><ion-button >Login</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>