<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="title">
          <ion-back-button></ion-back-button>
          <div class="name">Chat</div>
          <div class="logout pointer" (click)='logOut()'><ion-icon name="log-out-outline"></ion-icon></div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-chat">
    <ion-grid>
      <ion-row *ngFor='let user of users'>
        <ion-col class="pointer" (click)='gotoChat(user.id)'>
          <div class="first-line">
            <div class="name" *ngIf="user && user.name"> {{user.name | titlecase}} </div>
            <div class="lastMsgTym" *ngIf="user && user.lastMsgTime">{{user.lastMsgTime}}</div>
          </div>
          <div class="second-line">
            <div class="lastMsg" *ngIf="user && user.lastMsg">{{user.lastMsg}}</div>
            <ion-badge color="primary" *ngIf="user && user.unreadCnt"> {{user.unreadCnt}} </ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
